* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: #f9fafb;
}

h1, h2, h3, p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

input {
    font: inherit;
}

input {
    text-align: center; /* centre ce que l'utilisateur écrit */
}

input::placeholder {
    text-align: center; /* centre le placeholder */
}

/* Bouton Se connecter (en haut à droite) */
.login-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    background: #4c8bff;
    padding: 10px 18px;
    border-radius: 8px;

    text-decoration: none;
    color: white;
    font-weight: 600;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.2s;
}

.login-btn:hover {
    background: #3d6ed8;
}